*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    font-family: Futura, sans-serif;
    letter-spacing: .025em;
    line-height: 1.6;
    font-weight: 400;
} */
img{
    width: 100%;
}
.material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .dummyBtn{
    display: inline-block;
    width: 100px;
  }

  .sideCart{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    padding: 30px;
    padding-top: 0;
    width: 400px;
    z-index: 10009;
    right: -400px;
    transform: translate(400px);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0,0.2);
    background-color: #fff;
    transition: transform 800ms cubic-bezier(.165,.84,.44,1);
  }
  .sideCart.clickedOpen{
    transform: translate(-400px);
    /* transition: 0.5s ease-in-out; */
    /* visibility:visible; */
}
.opaque{
    background-color: rgba(0, 0, 0, 0.2);
    /* z-index: 26; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    
}
  .head-of-slider{
    height: 119px;
    position: absolute;
    overflow: visible;
    top: 0;
    display: table;
    /* justify-content: space-between; */
    /* width: 350px; */
    padding: 12px 0 ;
    border-bottom: 1px solid #e8e8e1;
    transform: translateY(0);
    transition: transform .85s cubic-bezier(.165,.84,.44,1) .735s,opacity .85s cubic-bezier(.165,.84,.44,1) .81s;
  }
  #cart-title{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-family: serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 100;
  }
  .closeBtn{
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
  }
  .wrapper-fixed-inner{
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 119px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 30px;
  }
  #cartList{
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 30px;
    top: 0;
    bottom: 175px;
    right: 0;
    left: 0;
    font-size: 14px;
    
  }
  .cart-products{
    border-bottom: 1px solid #e8e8e1;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    /* padding-top: 15px; */
  }

  .one-third{
    width: 33.3333%;
  }
  .two-third{
    width: 66.6667%;
  }

  .cart-products:first-child{
    padding-top: 15px;
  }
  #side-cart-footer{
    position: absolute;
    height: 175px;
    bottom: 0;
    padding-top: 22px;
    min-height: 130px;
    padding-bottom: 30px;
    transform: translateY(0);
    transition: transform .85s cubic-bezier(.165,.84,.44,1) .735s,opacity .85s cubic-bezier(.165,.84,.44,1) .81s;
    border-top: 1px solid #e8e8e1;
    /* padding-right: 30px; */
}
#side-cart-footer > *{
    margin-bottom: 15px;
    
}
.subtotal{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.subtotal>div:first-child{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
}
#cartTotal{
    font-size: 14px;
    letter-spacing: 0.2em;
}
#side-cart-footer div.small-text{
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    margin-bottom: 10px;
}
h3{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2em;
}
p.side-clr-size{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.1em;
}
#side-cart-btn{
    width: 100%;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0.75rem 0;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 0;
}
#side-cart-btn::before{
    position: absolute;

}
#side-cart-btn:hover{
    transform: scale(1.02);
    opacity: 0.8;
    /* outline: none; */
    fill: #000;
    animation: shine;
}

.side-input-price-div{
    display: flex;
}
.input-btn{
  display: flex;
  
  width: 100px;
  border: 1px solid #f2f2f2;
}
.one-half{
    width: 50%;
}
input{
    width: 60%;
    border: 1px solid #f2f2f2;
    padding: 5px 7px;
    text-align: center;
    outline: none;
}
.input-btn > button{
    width:20%;
    background-color: #fff;
    color: #000;
  }
  .minus{
    border: 1px solid #f2f2f2;
  }
  .plus{
    border: 1px solid #f7f7f7;
  }
  .minus:hover, .plus:hover{
    background-color: #000;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.001);
    transition: 0.2s ease-in-out;
    border: none;
  }
  .side-price-individual>p{
    text-align: right;
  }
  .wrap-title{
    margin-bottom: 10px;
  }